@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    font-family: Poppins;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    
}

.bg {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: fit-content;
    margin: 0 auto;
    padding: 2.5em 0 1.5em;
    border-top: 7px solid #7049bd;
    border-radius: 5px;

    background: rgba(255, 255, 255, 0.6);
    border-radius: 16px;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.container p {
    color: #7049bd;
    font-size: large;
    font-weight: bold;
}

.container2 {
    text-align: center;
    padding: 0 3em;
}

.set_info{
    text-align: left;
}


label {
    margin-left: 0.75em;
    text-align: left;
    font-size: 15px;
    font-weight: 600;
    cursor: text;
    color: #7049bd;
}

.title {
    font-weight: 700;
    font-size: 1.3em;
    margin: 0;
}

input {
    display: block;
    width: 90%;
    height: 40px;
    font-weight: 600;
    font-size: 0.8em;
    margin: 1.5em auto;
    padding: 0 1em;
    background-color: lightgr;
    border: grey 1px solid;
    border-radius: 5px;
}

input:focus {
    outline: none;
    border: #7049bd 1px solid;
}

button {
    width: 50%;
    height: 40px;
    background: #7049bd;
    color: white;
    font-weight: 600;
    font-size: 0.9em;
    border: none;
    border-radius: 5px;
    margin: 0.5em 0;
    cursor: pointer;
}

.show_hide_pswd {
    text-align: center;
}

#sh_p1, #hi_p1 {
    font-size: small;
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

button:hover{
    background-color: #5508f0;
    color: black;
}
