* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
}

nav ul {
    color: white;
    width: 80px;
    background-color: #7049bd;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    list-style-type: none;
    text-align: center;
}

nav ul li {
    margin-top: 2em;
}

.icon-store, .icon-users, .icon-info, .icon-logout {
    display: none;
}

#store:hover + .icon-store{
    display: block;
} 
#users:hover + .icon-users{
    display: block;

} 
#info:hover + .icon-info{
    display: block;

} 
#logout:hover + .icon-logout{
    display: block;

} 
.icon:hover{
    transform: scale(1.2);
}

main {
    padding-left: 90px;
}
.head{
    margin-left:100px;
}

#box-add {
    display: inline-block;
    color: black;
    width: 400px;
    height: 400px;
    background-color: #7049bd;
    text-align: center;
    margin-left: 1em;
    margin-top: 1em;
    border-radius: 0.5em;
    box-shadow: 0px 0px 15px 0px #7049bd;
    position: relative;
}
#box-add #add-image{
    cursor: pointer;
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
}




button {
    padding: 0.5em 2em;
    background-color: #7049bd;
    color: white;
    border: none;
    border-radius: 0.5em;
}

.box-monum {
    display: inline-block;
    font-size: large;
    color: black;
    width: 400px;
    height: 400px;
    min-width: 300px;
    text-align: center;
    
    margin: 1em 0 0 1em;
    border-radius: 0.5em;
    box-shadow: 0px 0px 15px 0px #7049bd;
    position: relative;
}

.infos {
    opacity: 0;
}

input {
    font-size: large;
    display: block;
    margin: 1.5em auto;
    border: none;
    border-bottom: 1px solid #7049bd;
}


.titre {
    position: absolute;
    top: -.5em;
    left: 0.75em;
}
.location {
    position: absolute;
    top: 2.5em;
    left: 0.75em;
}

.description {
    position: absolute;
    top: 5.5em;
    left: 0.75em;
}

.prix {
    position: absolute;
    top: 18em;
    left: 0.75em;
}

.copies {
    position: absolute;
    top: 18em;
    left: 11.5em;
}

.image {
    position: absolute;
    display: none;
    top: 16em;
    left: 0.75em;
    cursor: t;
}

.prix-input, .copies-input {
    background: none;
    color: white;
    text-align: center;
    text-shadow: 2px 2px black;
    outline: none;
    border: none;
    width: 180px;
    cursor: context-menu;
}


.titre-input , .location-input, .description-input {
    resize: none;
    background: none;
    color: white;
    border: none;
    outline: none;
    cursor: context-menu;
    text-shadow: 2px 2px black;
}

.titre-input::placeholder , .location-input::placeholder, .prix-input::placeholder, .copies-input::placeholder {
    color: white;
}


.titre-add {
    position: absolute;
    top: -.5em;
    left: 0.75em;
}
.location-add {
    position: absolute;
    top: 3em;
    left: 0.75em;
}

.description-add {
    position: absolute;
    top: 6em;
    left: 0.75em;
}

.prix-add {
    position: absolute;
    top: 20em;
    left: 0.75em;
}

.copies-add {
    position: absolute;
    top: 20em;
    left: 12.5em;
}

.image-add {
    position: absolute;
    top: 18em;
    left: 0.75em;
}

.image-input-add, .image-input {
    font-size: small;
    color: white;
    background: rgb(175, 175, 175);
}

.prix-input-add, .copies-input-add {
    background: rgb(175, 175, 175);
    color: white;
    text-align: center;
    outline: none;
    border: none;
    width: 180px;
}


.titre-input-add , .location-input-add, .description-input-add {
    resize: none;
    background: rgb(175, 175, 175);
    color: white;
    border: none;
    outline: none;
}

.titre-input-add, .titre-input {
    width: 370px;
    font-size: x-large;
}

.location-input-add, .location-input {
    width: 150px;
    font-size: small;
    font-style: italic;
}

#create-form input:focus, #create-form textarea:focus {
    background: #7049bd;
}

#create-form {
    display: none;
}

#create-button {
    position: absolute;
    top: -1em;
    left: 20.5em;
    z-index: 20;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0;
    font-size: large;
    font-weight: bolder;
    cursor: pointer;
}

#create-button img {
    position: absolute;
    top: 0.6em;
    right: 0.53em;
}

.edit-button {
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: #FEA500;
    border-radius: 50%;
    top: -1em;
    left: 17.5em;
    padding: 0;
}

.edit-button img {
    position: absolute;
    top: 0.53em;
    right: 0.55em;
    
}

.delete-button {
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: #FD0000;
    border-radius: 50%;
    top: -1em;
    left: 20.6em;
    padding: 0;
}

.delete-button img {
    position: absolute;
    top: 0.53em;
    right: 0.55em;
    
}

.confirm-button {
    display: none;
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: #7049bd;
    border-radius: 50%;
    top: -1.35em;
    left: 27.8em;
    padding: 0;
}

.confirm-button img {
    position: absolute;
    top: 0.8em;
    right: 0.75em;
}
