* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
}

nav ul {
    color: white;
    width: 80px;
    background-color: #7049bd;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    list-style-type: none;
    text-align: center;
}

nav ul li {
    margin-top: 2em;
}

.icon-store, .icon-users, .icon-info, .icon-logout {
    display: none;
}

#store:hover + .icon-store{
    display: block;
} 
#users:hover + .icon-users{
    display: block;

} 
#info:hover + .icon-info{
    display: block;

} 
#logout:hover + .icon-logout{
    display: block;

} 
.icon:hover{
    transform: scale(1.2);
}

main {
    padding-left: 90px;
}

.box-add {
    display: inline-block;
    color: black;
    width: 300px;
    height: 300px;
    background-color: white;
    text-align: center;
    margin-left: 1em;
    border-radius: 0.5em;
    box-shadow: 0px 0px 15px 0px #7049bd;
}

.box-add #picture {
    width: 100px;
    height: 100px;
    background-color: #7049bd;
    background-size: cover;
    background-position: center center;
    margin: 0.5em auto 0;
    border-radius: 50%;
    cursor: pointer;
}

.dragging {
    background-image: none!important;
}

input {
    font-size: large;
    display: block;
    margin: 1em auto;
    border: none;
    border-bottom: 1px solid #7049bd;
}

input:focus {
    outline: none;
}

.input-field {
    background: url(/img/text-input.png) no-repeat scroll 195px -1px;
    background-size: 20px;
}

#mediaFile {
    position: absolute;
    left: -500px;
}

button {
    padding: 0.5em 2em;
    background-color: #7049bd;
    color: white;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
}

.box-user {
    display: inline-block;
    font-size: large;
    color: black;
    width: 300px;
    height: 300px;
    min-width: 300px;
    background-color: white;
    text-align: center;
    margin: 1em 0 0 1em;
    border-radius: 0.5em;
    box-shadow: 0px 0px 15px 0px #7049bd;
}

.box-user .image img {
    width: 139px;
    height: 139px;
    margin: 0.5em auto 0;
    border-radius: 50%;
}

.box-user span {
    display: block;
    margin: 1em 0;
}

.box-user .name {
    font-weight: bold;
}

.box-user .nb-contr {
    color: gray;
}
